.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 6.5rem;

    .img-logo {
        padding-left: 10rem;
    }
    
    .container-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        padding-right: 10rem;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 10px;
        }

        .buttonCar {
            border: none;
            border-radius: 8px;
            height: 2.375rem;
            width: 2.375rem;

            img {
                width: 1.375rem;
                height: 1.375rem;
            }
        }
    }
}